$black: #000;
$white: #fff;
$border: #636363;
$night: rgb(21, 32, 43);
$night-light: #273442;
$night-hover: #5bade9;
$font-color: #f3f3f3;
$btn-primary: $night-hover;
$o-community-color: #5bade9;
$btn-secondary: #3b4856;
$checkbox: #cccccc;
