@mixin base_setting_view() {
    .o_action_manager {
        .o_view_controller.o_action {
            .o_content {
                .o_form_view.oe_form_configuration.o_base_settings {
                    flex-flow: column nowrap;
                    .o_setting_container{
                        flex-flow: column nowrap;
                        padding-bottom: 52px;
                        .settings_tab {
                            flex: 0 0 $o-base-settings-mobile-tabs-height;
                            display: inline-flex;
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            .tab{
                                display: block;
                                @include o-position-absolute($left:100%);
                                width: auto;
                                height: 40px;
                                max-width: 120px;
                                padding: 10px 2px;
                                text-align: center;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: inherit;
                                transition: 0.2s all ease 0s;
                                transform: translate3d(0,0,0);
                                .icon{
                                    display: none !important;
                                }
                                .app_name {
                                    display: block;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                &:after {
                                    content: '';
                                    opacity: 0;
                                    @include o-position-absolute(auto, 0, 0, 0);
                                    width: 100%;
                                    height: 1px;
                                    @include border-animation-white();
                                }

                                &.previous, &.before {
                                    left: 0% - $o-base-settings-mobile-tabs-overflow-gap;
                                }

                                &.current {
                                    left: 50%;
                                    color: white;
                                    height: 36px;
                                    font-weight: 700;

                                    // Reset default style for 'selected' tabs
                                    box-shadow: none;
                                    background: none;

                                    &:after {
                                        opacity: 1;
                                    }
                                }

                                &.next, &.after {
                                    left: 100% + $o-base-settings-mobile-tabs-overflow-gap;
                                }
                            }
                        }
                    }
                }
            }
            .o_control_panel.o_hidden + .o_content{
                margin-bottom: 0px;
            }
        }
    }
}

@mixin customize_theme_view(){
    &.open_customize_theme{
        .modal.o_technical_modal{
            left: 0;
            transition: none;
            .modal-dialog{
                width: 100%;
                max-width: 100%;
                height: 100%;
                .modal-content{
                    .uc_dashboard_image{
                        display: none;
                    }
                    .o_cusomize_theme{
                        .o_right_panel{
                            .container{
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                        .o_left_panel{
                            .oe_theme_colorpicker{
                                justify-content: center;
                                overflow: hidden;
                                height: auto;
                                & > li{
                                    width: 76px;
                                }
                            }
                        }
                    }
                    .modal-body{
                        overflow: auto;
                    }
                    .modal-header, .modal-footer{
                        display: table;
                        width: 100%;
                        border-top: 1px solid $border;
                    }
                }
            }
        }
    }
}

.o_web_client.ad_mobile {
    @include base_setting_view();
    @include customize_theme_view();
}