@mixin chat-window() {
    .o_thread_window{
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 111;
        height: 100% !important;
        .o_thread_window_header{
            padding-top: 10px;
            & > span{
                .o_thread_window_close{
                    margin-top: 3px;
                }
            }
        }
        .o_thread_composer{
            .o_composer_container{
                .o_composer {
                    .o_composer_input{
                        width: 60%;
                        margin-left: 15px;
                        .o_chatter_composer_tools{
                            .o_composer_button_send{
                                display: inline-block !important;
                                &:before{
                                    content: "\f1d9";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.o_web_client.ad_mobile {
    @include chat-window();
}