@mixin menu-xs() {
    & > header {
        .o_main_navbar {
            div.oe_menu_layout{

                #o_menu_apps{
                    .main_menu{
                        position: fixed;
                        left: -100%;
                        width: 100%;
                        max-width: 100%;
                    }
                }

                #o_menu_sections.o_menu_sections{
                    position: fixed;
                    left: -100%;
                    width: 100%;
                    max-width: 100%;
                }

                .o_quick_menu{
                    .o_global_search_dropdown{
                        position: fixed !important;
                        right: 0;
                        left: -100% !important;
                        width: auto;
                        padding: 10px 65px 10px 30px;
                        .user-dropdown{
                            .global-search{
                                min-width: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }
                .oe_favorite_menu {
                    & > .oe_apps_menu {
                        & > a {
                            touch-action: auto;
                        }
                    }
                }
            }

            .o_toggle_menu{
                & > li{
                    #o_menu_systray.o_menu_systray{
                        position: fixed;
                        right: 100%;
                        width: auto;
                        & > li{
                            .dropdown-menu{
                                width: auto;
                                right: 0;
                                left: 0;
                                .o_mail_mobile_tabs{
                                    position: relative;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    flex: 0 0 auto;
                                    .o_mail_mobile_tab {
                                        box-shadow: none;
                                        color: $icon;
                                        &.active {
                                            color: $brand-secondary;
                                            @include border-animation();
                                            background-position: center top;
                                            .o_tab_title, .fa {
                                                color: $brand-secondary;
                                            }
                                        }
                                    }
                                }
                                .o_mail_systray_mobile_header {
                                    border: 0;
                                    box-shadow: none;
                                    text-align: right;
                                    flex: 0 0 auto;
                                    button {
                                        border: 0;
                                    }
                                }
                            }
                            &.o_user_menu{
                                & > .dropdown-item, .dropdown-divider{
                                    display: none !important;
                                }
                            }
                        }
                        &.show{
                            right: 0%;
                        }
                    }
                }
            }

            #o_menu_sections.o_menu_sections{
                position: fixed;
                left: -100%;
                right: 100%;
                width: auto;
            }

            #av_full_view{
                left: 45px;
                padding: 11px 12px;
            }
            .oe_full_button {
                display: none;
            }
        }
    }

    &.oe_base_menu{
        & > header{
            .o_main_navbar:not(.oe_favorite_view){
                width: 100%;
                height: 35px;
                z-index: 9;
                position: absolute;
                @include slide-animation();
                .o_menu_sections{
                    display: none !important;
                }
                .oe_menu_layout{
                    display: none;
                }
                #menu_toggle{
                    display: block;
                    padding: 8px 0;
                }
                .o_menu_brand{
                    padding: 2px 5px;
                    display: block;
                    float: left;
                    border-bottom: 0;
                    color: $white !important;
                }
                .o_mobile_menu_toggle{
                    display: block !important;
                    padding: 0 12px;
                    line-height: 35px;
                    height: 34px;
                    &:hover, &:focus{
                        background-color: transparent;
                    }
                }
            }
            .main_navbar.oe_favorite_view{
                top: 35px;
                #av_full_view {
                    display: none !important;
                }
                .oe_full_button {
                    display: none !important;
                }
            }
        }
        &.open_mobile_menu{
            & > header{
                .o_main_navbar:not(.oe_favorite_view){
                    height: 100%;
                    @include slide-animation();
                    .o_menu_brand{
                        height: 35px;
                        border: 0;
                    }
                    #menu_toggle{
                        height: 35px;
                        display: none;
                    }
                    & > ul{
                        &.o_menu_sections{
                            display: flex !important;
                            width: 100%;
                            top: 46px;
                            position: relative;
                            align-items: flex-end;
                            flex-direction: column;
                            overflow: auto;
                            height: 85vh;
                            & > li{
                                width: 100%;
                                height: auto;
                                display: table;
                                & > .dropdown-menu{
                                    &.show{
                                        position: relative !important;
                                        transform: none !important;
                                        background-color: transparent;
                                        border: 0;
                                        max-height: unset;
                                        overflow: hidden;
                                        a{
                                            color: $white;
                                            padding-top: 5px;
                                            padding-bottom: 5px;
                                        }
                                        .dropdown-header{
                                            color: $white;
                                            text-decoration: none;
                                            font-size: 14px;
                                            background-color: $brand-primary;
                                        }
                                    }
                                }
                                a{
                                    font-size: 14px;
                                    &.dropdown-toggle{
                                        &:after{
                                            content: "\f105";
                                            font: normal normal normal 14px/1 FontAwesome;
                                            display: inline-block;
                                            font-weight: bold;
                                            font-size: 20px;
                                            top: 15px;
                                            position: absolute;
                                            left: auto;
                                            right: 20px;
                                            border: 0;
                                        }
                                    }
                                }
                                & > a{
                                    display: flex;
                                    text-align: left;
                                    position: relative;
                                    width: 100%;
                                    justify-content: flex-start;
                                    align-items: center;
                                    &:after{
                                        position: absolute;
                                        right: 15px;
                                        display: flex !important;
                                        justify-content: center;
                                        align-items: center;
                                        top: 0 !important;
                                        bottom: 0;
                                        left: auto;
                                        height: 100%;
                                    }
                                    &[aria-expanded="true"]{
                                        &:after{
                                            transform:rotate(90deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & > .oe_menu_layout{
                        position: absolute;
                        display: flex;
                        width: 100%;
                        height: 40px;
                        top: 40px;
                        padding: 0 10px;
                        & > ul.o_menu_systray{
                            display: flex;
                            width: 100%;
                            border-bottom: 1px solid $border;
                            .o_user_menu{
                                .dropdown-toggle{
                                    .oe_topbar_name{
                                        display: none;
                                    }
                                }
                                & > .dropdown-item, .dropdown-divider{
                                    display: none !important;
                                }
                            }
                            & > li{
                                flex: 1 1 100%;
                                position: inherit;
                                .dropdown-menu{
                                    width: 100vw;
                                    position: absolute !important;
                                    will-change: unset !important;
                                    transform: none !important;
                                    top: 100% !important;
                                    padding: 5px;
                                }
                                .o_mail_systray_dropdown{
                                    .o_mail_systray_dropdown_items{
                                        flex: 1;
                                        padding-bottom: 0;
                                    }
                                    .o_mail_mobile_tabs{
                                        position: relative;
                                        flex: 0;
                                        background-color: $white;
                                        .o_mail_mobile_tab {
                                            box-shadow: none;
                                            color: $icon;
                                            &.active {
                                                color: $brand-secondary;
                                                @include border-animation();
                                                background-position: center top;
                                                .o_tab_title, .fa {
                                                    color: $brand-secondary;
                                                }
                                            }
                                        }
                                    }
                                    .o_mail_systray_mobile_header {
                                        border: 0;
                                        box-shadow: none;
                                        text-align: right;
                                        flex: 0;
                                        button {
                                            border: 0;
                                        }
                                    }
                                }
                                &.o_web_studio_navbar_item {
                                    display: none !important;
                                }
                            }
                            .o_switch_company_menu {
                                & > a {
                                    .oe_topbar_name {
                                        font-size: 0;
                                        display: block;

                                        &:before {
                                            content: '\f1ad';
                                            display: inline-block;
                                            font: normal normal normal 14px/1 FontAwesome;
                                            font-size: 20px;
                                            color: $white;
                                            text-rendering: auto;
                                            -webkit-font-smoothing: antialiased;
                                            -moz-osx-font-smoothing: grayscale;
                                        }
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .o_action_manager{
            margin-top: 35px;
            .o_view_controller.o_action {
                .o_control_panel{
                    .o_cp_searchview{
                        .o_mobile_search{
                            top: 35px;
                            .o_mobile_search_clear_facets{
                                margin: 0 !important;
                                display: flex;
                                height: 100%;
                                vertical-align: middle;
                                align-items: center;
                                padding: 0 10px;
                            }
                        }
                        .sd_datepickers_searchview{
                            display: none !important;
                        }
                    }
                }
            }
        }
        &.nav-sm{
            .o_main_navbar{
                .o_mobile_menu_toggle{
                    display: none !important;
                }
            }
        }
    }

    .o_action_manager {
        .o_view_controller {
            @include slide-animation();
            flex: 0 0 100%;
            max-width: unset;
        }
    }

    &:not(.ad_full_view) {
        .o_action_manager {
            .o_view_controller {
                flex: 0 0 100%;
                @include slide-animation();
            }
        }
    }

    &.ad_open_childmenu, &.nav-sm {
        .o_action_manager {
            .ad_leftbar.o_sub_menu {
                width: 100%;
                .ad_right_panel {
                    .o_sub_menu_content {
                        .oe_secondary_menu {
                            padding-right: 5px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }

    &.nav-sm{
        header{
            .o_main_navbar{
                .oe_menu_layout{
                    #o_menu_apps{
                        .main_menu{
                            position: fixed;
                            left: 0;
                            right: 0;
                            width: 100%;
                            max-width: 100%;
                            @include slide-animation();
                        }
                    }
                }
            }
        }
    }

    &.ad_open_childmenu{
        & > header{
            & > .o_main_navbar{
                #o_menu_sections.o_menu_sections{
                    left: 50px;
                    right: 0;
                    @include slide-animation();
                }
            }
        }
    }
    &.o_home_menu_background:not(.oe_base_menu) {
        header {
            .o_main_navbar {
                left: 0 !important;
            }
        }
        .o_home_menu {
            width: auto;
            margin-left: 50px;
            transition: unset;
            .o_home_menu_scrollable {
                max-width: 100%;
            }
        }
    }
    &.o_home_menu_background {
        .o_home_menu {
            .o_home_menu_scrollable {
                max-width: 100%;
            }
        }
        &:not(.open_mobile_menu) > header {
            nav.o_main_navbar:not(.oe_favorite_view) {
                background-color: $black !important;
                .o_mobile_menu_toggle {
                    display: none !important;
                }
            }
        }
        &.open_mobile_menu > header {
            nav.o_main_navbar:not(.oe_favorite_view) {
                background-color: $brand-primary !important;
            }
            .o_menu_brand {
                display: block !important;
            }
        }
    }
}

body.o_web_client.ad_mobile {
    @include menu-xs();
}