@mixin oe-pivot(){
    &.o_pivot{
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
    }
}

// Pivot view - [start]
.o_web_client.ad_mobile {
    .o_action_manager {
        .o_view_controller.o_action {
            & > .o_content {
                @include oe-pivot();
            }
        }
    }
}

// Pivot view - [start]