.o_web_client {
    .o_notification_manager {
        top: auto;
        bottom: 52px;
        right: 15px;
        .o_notification {
            background-color: $brand-primary !important;
            box-shadow: none;
            border: 0;
            margin: 0px 0px 10px 0px;
            .toast-header {
                color: $white;
                background-color: transparent;
                .o_notification_close {
                    color: $white;
                }
            }
        }
    }
}