.o_web_client {
    .o_action_manager {
        .o_action {
            & > .o_content {
                .o_hr_attendance_kiosk_mode_container {
                    @include slide-animation();
                    padding-top: 50px;
                    position: fixed;
                    background-color: #e7e7e7;
                    .o_hr_attendance_kiosk_mode {
                        border-radius: 0px;
                        padding: 10px;
                        margin: 10px !important;
                        width: 90%;
                        background-color: $white;
                        .o_hr_attendance_user_badge{
                            margin: 10px 0;
                            background: linear-gradient(to right bottom, $brand-primary, $brand-secondary);
                        }
                        .o_hr_attendance_sign_in_out_icon {
                            border-radius: 0px;
                            border: 0;
                            box-shadow: none;
                            color: $brand-primary;
                            &:hover{
                                color: $brand-secondary;
                                background-color: transparent;
                            }
                        }
                        .o_hr_attendance_PINbox {
                            border: 0;
                            border-bottom: 1px solid $border;
                            &:valid, &:focus {
                                @include border-animation();
                            }
                        }
                        .o_hr_attendance_back_button {
                            .btn{
                                background-color: $white;
                                color: $brand-secondary;
                            }
                        }
                        .o_hr_attendance_pin_pad {
                            .o_hr_attendance_pin_pad_border {
                            }
                        }
                    }
                }
                .o_hr_attendance_message_container {
                    .o_hr_attendance_message {
                        border-radius: 0px;
                    }
                    .o_hr_attendance_button_dismiss {
                        height: 40px;
                    }
                }
            }
        }
    }
    &.o_fullscreen{
        .o_action_manager{
            margin-left: 0px;
            .o_action.o_view_controller {
                .o_content{
                    margin-bottom: 0px;
                }
            }
        }
        &:not(.oe_base_menu) {
            header {
                .o_main_navbar{
                    left: -50px;
                    #av_full_view, .oe_full_button {
                        display: none;
                    }
                }
            }
        }
        header {
            .o_main_navbar {
                #av_full_view {
                    display: none !important;
                }
            }
        }
    }
    &:not(.ad_full_view) {
        .o_action_manager {
            .o_action {
                & > .o_content {
                    .o_hr_attendance_kiosk_mode_container {
                        left: 50px;
                        @include slide-animation();
                    }
                }
            }
        }
    }
}