// body View -start
body {
    font-family: Roboto;
    font-size: $font-size-1;
    font-weight: $font-weight-4;
    color: $Label-value;
}

// body View - stop

body.o_web_client {
    background-color: $white;
    overflow: hidden;
    @include left-menu();
    @include kanban_model_open();
    & > .o_action_manager {
        /*& > .o_view_controller {*/
            /*.o_control_panel {*/
            /*}*/
            display: block;
            & > .o_action {
                max-width: 100%;
                position: relative;
                .o_cp_controller {
                    z-index: 2;
                    .o_control_panel {
                        @include control-panel();
                    }
                }
                & > .o_content {
                    margin-right: 0px;
                    @include slide-animation();
                    @include pivot_view();
                    /*@include graph_view();*/
                    @include import_view();
                    @include slide-animation();
                    @include list-view();
                    @include calendar-view();
                    @include search_panel();
                    @include kanban_view();
                    @include activity_view();
                    .o_kanban_view.o_kanban_grouped {
                        margin-right: 260px;
                    }
                }
                &.ad_open_search, &.o_open_sidebar {
                    & > .o_content {
                            margin-right: 260px;
                            border-right: 1px solid $border;
                            @include slide-animation();
                            &.o_referral_kanban .o_referral_kanban_background {
                                right: 260px !important;
                            }
                    }
                    .o_control_panel.o_hidden + .o_content{
                        margin-right: 0px;
                    }
                }
                &:not(.ad_open_search) {
                    .o_control_panel {
                        .o_search_options {
                            .ad_has_options{
                                left: auto;
                                right: -330px;
                                flex-wrap: wrap;
                                @include slide-animation();
                            }
                        }
                    }
                }
            }
        /*}*/
    }
    &.oe_base_menu{
        & > div.o_action_manager{
            .o_view_controller.o_action {
                & > div.o_control_panel{
                    .o_cp_sidebar{
                        top: 76px;
                    }
                    ol.breadcrumb{
                        padding: 0px 0px 0px 30px;
                    }
                    .o_cp_searchview{
                        .o_mobile_search{
                            .o_mobile_search_header{
                                .o_mobile_search_close{
                                    padding: 10px 0px 11px 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .modal.o_modal_fullscreen {
        .o_viewer_content {
            .o_viewer-header ,.o_viewer_toolbar , .o_viewer_img_wrapper , .o_viewer_toolbar_btn{
                background-color: $bg-light;
            }
            .o_viewer_toolbar {
                justify-content: center;
            }
        }
        .arrow {
            background-color: $bg-light;
        }
    }
}