@mixin left-menu() {
    // Navbar view - start
    header {
        z-index: 3;
    }
    .o_main_navbar {
        background-color: $brand-primary;
        border: 0;
        #menu_toggle {
            display: block;
            padding: 10px;
            transition: background-color .3s ease .45s,
            border-color .3s ease .45s,
            box-shadow .3s ease .45s,
            transform .3s ease;
            .icon {
                display: block;
                width: 18px;
                margin: auto;
            }
            &:before{
                content: "";
            }
            &.d-none {
                display: block !important;
                opacity: 0.5;
                cursor: not-allowed;
            }
            &:hover, &:active, &:focus {
                background-color: transparent;
            }
        }
        // main menu [stop]
    }
    &:not(.oe_base_menu){
        .o_main_navbar {
            left: 0;
            top: 0;
            position: absolute;
            width: 50px;
            height: 100%;
            z-index: 6;
            background-color: $brand-primary;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: flex-start;
            border: 0;
            transition: unset;
            @include slide-animation();

            & > *:not(.o_menu_sections):not(#av_full_view):not(.oe_full_button) {
                background-color: $brand-primary;
                z-index: 9;
                width: 100%;
            }

            .oe_menu_layout {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 1;
                -webkit-box-pack: end;
                justify-content: flex-start;
                width: 100%;
                padding: 5px 0px;
                // main menu [stop]
                .oe_sub_menu {
                    .dropdown-toggle {
                        font-size: $font-size-0;

                        &:after {
                            display: none;
                        }
                    }
                }

                #children_toggle {
                    padding: 10px;

                    & > i.fa {
                        font-size: $font-size-0;
                    }
                }

                .o_quick_menu {
                    & > li {
                        width: 100%;
                        padding: 10px;
                        list-style: none;
                        color: $white;

                        & > a {
                            & > i {
                                font-size: $font-size-0;
                                color: $white;
                            }
                        }
                    }
                }
            }

            // sub Menu[start]
            #o_menu_sections {
                position: absolute;
                top: 0;
                float: left;
                left: -315px;
                width: 315px;
                flex-direction: column;
                height: 100%;
                display: flex;
                z-index: 7;
                overflow: auto;
                margin: 0;
                border: 0;
                background-color: $white;
                @include slide-animation();

                .o_submenu_title {
                    .ad_main_menu_detals {
                        margin-top: 10px;
                        text-align: center;
                        width: 100%;
                        padding: 6px;
                        display: flex;
                        justify-content: center;
                        & > .oe_menu_text {
                            float: left;
                            display: table-cell;
                            text-align: center;
                            color: $menu-sub-title;
                            text-transform: uppercase;
                            font-weight: $font-weight-6;
                            width: auto;
                            margin: auto 0px;
                            font-size: 18px;
                        }
                        img {
                            margin-right: 10px;
                            height: 50px;
                            width: auto;
                            display: table-cell;
                        }
                    }
                }
                .oe_back_btn {
                    position: absolute;
                    top: 56px;
                    left: 8px;
                    z-index: 999;
                    padding: 15px;
                    border-radius: 50%;
                    color: $brand-primary;
                    .fa {
                        font-size: 16px;
                    }
                    &:hover {
                        background-color: $tr-hover;
                    }
                }
                .o_submenu_list {
                    text-align: left;
                    padding-left: 10px;
                    margin-top: 10px;
                    .dropdown-menu {
                        display: block !important;
                        position: relative !important;
                        transform: none !important;
                        width: 100%;
                        padding-left: 16px;
                        border: 0;
                        box-shadow: none;
                        margin: 0.125rem 0 0;
                        padding: 0.25rem 1.5rem;
                        border: 0;
                        .dropdown-header, .dropdown-item {
                            padding: 2px 0px;
                        }
                        a {
                            &:hover, &:focus {
                                background-color: $tr-hover;
                            }
                        }
                    }
                    li {
                        padding: 5px 0px;
                        list-style: none;
                        padding-left: 10px;
                        display: inline-block;
                        width: 100%;
                        .dropdown-menu{
                            overflow: hidden;
                            a:before {
                                content: "";
                                position: absolute;
                                display: block;
                                background-color: #dee2e6;
                                width: 1px;
                                height: 100%;
                                right: 100%;
                                top: -50%;
                                bottom: 50%;
                                margin-right: 12px;
                            }
                            a:after {
                                content: "";
                                position: absolute;
                                display: block;
                                background-color: $border-color;
                                width: 8px;
                                height: 1px;
                                right: 100%;
                                top: 50%;
                                bottom: auto;
                                margin-right: 5px;
                            }
                            & > .dropdown-header{
                                position: relative;
                                background-color: $white;
                                z-index: 1;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    background-color: $border-color;
                                    width: 1px;
                                    height: 50%;
                                    right: 100%;
                                    top: 0;
                                    margin-right: 12px;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    background-color: $border-color;
                                    width: 8px;
                                    height: 1px;
                                    right: 100%;
                                    top: 50%;
                                    bottom: auto;
                                    margin-right: 5px;
                                }
                                &:last-of-type{
                                    & > span{
                                        &:before{
                                            content: "";
                                            position: absolute;
                                            right: 100%;
                                            height: 10000%;
                                            margin-right: 12px;
                                            top: auto;
                                            bottom: 11px;
                                            background-color: $border;
                                            width: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    li.show {
                        a, div {
                            background-color: transparent;
                        }
                    }
                    a.o_menu_header_lvl_1, .o_menu_header_lvl_2 {
                        color: $menu-main-title;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                    a.o_menu_entry_lvl_3.dropdown-item {
                        margin-left: 16px;
                    }
                }
            }

            // sub menu [stop]
            & > .o_toggle_menu {
                & > li {
                    list-style: none;

                    & > a {
                        display: block;
                        padding: 10px 4px 4px 4px;
                        background-color: $brand-primary;

                        .fa {
                            font-size: 22px;
                        }
                    }

                    & > #o_menu_systray {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: -350px;
                        width: 350px;
                        display: flex !important;
                        padding: 0px;
                        margin: 0px;
                        z-index: -1;
                        background-color: $white;
                        will-change: unset !important;
                        height: 100% !important;
                        transition: all 0.3s ease-in-out !important;

                        &.collapsing {
                            transition: none;
                            display: none;
                        }

                        .oe_topbar_name {
                            display: none;
                        }

                        & > li {
                            display: inline-block;
                            flex: 1 1 auto;
                            position: initial;
                            text-align: center;
                            background-color: $white;
                            z-index: 5;
                            height: 46px;

                            &.o_user_menu {
                                margin-left: 0px;

                                & > a {
                                    @include border-animation();

                                    .oe_topbar_name {
                                        display: none;
                                    }

                                    .oe_topbar_avatar {
                                        display: none;
                                    }

                                    &:before {
                                        content: '\f007';
                                        font: normal normal normal 14px/1 FontAwesome;
                                        font-size: 20px;
                                    }

                                    &:after {
                                        display: none;
                                    }
                                }
                            }

                            .ad_active {
                                position: absolute;
                                background-color: $white;
                                top: 46px;
                                left: 0px;
                                z-index: 111;
                                bottom: 0;
                                width: 350px;
                                padding: 0px 5px;
                                min-width: inherit;
                                max-height: 100%;
                                border: 0;
                                margin: 0px;
                                border-radius: 0;
                                overflow: initial;
                                box-shadow: none;
                                display: block;

                                .dropdown-divider {
                                    background-color: $border;
                                    margin-left: 5px;
                                    height: 1px;
                                }

                                .o_sub_menu_footer {
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    height: 100%;
                                    width: 100%;
                                    align-items: flex-end;

                                    & > a {
                                        color: #875A7B;
                                        margin-left: 2px;
                                        font-weight: bold;
                                    }
                                }

                                .ad_user_details_box {
                                    width: 100%;
                                    .ad_user_details {
                                        display: table;
                                        margin-top: 10px;
                                        text-align: center;
                                        width: 100%;
                                        padding: 6px;

                                        .ad_avtar_image {
                                            img {
                                                width: 150px;
                                                height: 150px;
                                                max-height: inherit;
                                                @include round-border();
                                            }
                                        }

                                        .oe_topbar_name {
                                            margin-top: 15px;
                                            margin-bottom: 15px;
                                            width: 100%;
                                            font-size: 15px;
                                            text-transform: uppercase;
                                        }
                                    }

                                    & > li {
                                        & > a {
                                            display: block;
                                            width: 100%;
                                            padding: 3px 20px 3px 5px;
                                            color: $Label-value;
                                        }
                                    }
                                }
                            }

                            &.show {
                                & + .o_user_menu {
                                    .ad_active {
                                        display: none;
                                    }
                                }
                            }

                            & > a {
                                padding: 10px;
                                background: $white;
                                color: $icon;
                                border: 0;
                                border-radius: 0;
                                outline: none;
                                box-shadow: none;
                                width: 100%;
                                display: block;
                                height: 45px;
                                border-bottom: 1px solid $border;

                                & > .fa {
                                    font-size: 20px;
                                }

                                .badge {
                                    background-color: $brand-secondary;
                                    color: $white;
                                }
                            }

                            &.o_no_notification {
                                & > a {
                                    opacity: 1;
                                }
                            }

                            &.o_switch_company_menu {
                                & > a {
                                    .oe_topbar_name {
                                        font-size: 0;
                                        display: block;

                                        &:before {
                                            content: '\f1ad';
                                            display: inline-block;
                                            font: normal normal normal 14px/1 FontAwesome;
                                            font-size: 20px;
                                            color: $black;
                                            text-rendering: auto;
                                            -webkit-font-smoothing: antialiased;
                                            -moz-osx-font-smoothing: grayscale;
                                        }
                                    }
                                    &:after {
                                        display: none;
                                    }
                                }
                                .dropdown-menu-right {
                                    flex-direction: column;
                                }
                            }

                            & > .dropdown-menu.show {
                                position: absolute;
                                display: flex;
                                top: 46px !important;
                                right: auto;
                                bottom: 0;
                                left: 0px;
                                margin: 0;
                                border: 0;
                                box-shadow: none;
                                overflow: inherit;
                                height: auto;
                                max-height: unset;
                                transform: none !important;
                                will-change: none !important;
                                z-index: 1011;

                                &.o_mail_systray_dropdown {
                                    .o_mail_systray_dropdown_top {
                                        box-shadow: none;
                                        border-bottom: 1px solid $border;

                                        .o_filter_button {
                                            color: $icon;

                                            &.active {
                                                color: $brand-primary;
                                                @include border-animation();
                                            }

                                            &:focus {
                                                @include border-animation();
                                            }
                                        }
                                    }

                                    .o_mail_systray_dropdown_items {
                                        padding: 0px 10px;
                                        max-height: 100%;
                                        flex: 1 1 auto;

                                        .o_mail_preview {
                                            padding: 10px 5px;
                                            background-color: $white;

                                            .o_channel_info {
                                                .o_channel_title {
                                                    color: $heading;
                                                }

                                                .o_last_message_date {
                                                    color: $brand-primary;
                                                }

                                                .o_last_message_preview {
                                                    color: $Label-value;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.js_debug_dropdown {
                                    display: table;
                                    height: 100%;
                                }

                                .o_mail_navbar_dropdown_channels {
                                    max-height: 100%;
                                }
                            }

                            &.show {
                                & > a {
                                    @include border-animation();
                                }
                            }

                            &.show ~ li {
                                & > a {
                                    background: transparent;
                                }

                                & > .ad_active {
                                    display: none;
                                }
                            }
                        }

                        &.show {
                            left: 50px;
                            @include slide-animation();

                            &:before {
                                content: "";
                                position: fixed;
                                left: 50px;
                                top: 0;
                                bottom: 0;
                                width: 100%;
                                background-color: $bg-light;
                                z-index: 4;
                            }
                        }
                    }
                }
            }
            #av_full_view {
                position: absolute;
                top: 0px;
                left: 50px;
                bottom: auto;
                padding: 12px 8px 0 10px;
                margin-bottom: 0;
                i.fa {
                    font-size: 16px;
                    color: $brand-primary;
                }
            }

            .oe_full_button {
                position: absolute;
                bottom: 0px;
                left: 50px;
                color: $brand-primary;
                background-color: transparent;

                li.oe_full {
                    padding: 7px 12px;
                    font-size: 16px;
                }
            }
        }
    }
    &.oe_base_menu {
        & > header {
            .o_main_navbar {
                height: 35px;

                #menu_toggle {
                    display: flex;
                    width: 50px;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    &.d-none {
                        display: flex !important;
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }

                .o_menu_sections {
                    li {
                        position: relative;
                        display: inline-block;
                        height: 100%;
                        float: none;
                        vertical-align: middle;
                        &.o_extra_menu_items{
                            .dropdown-menu{
                                padding: 0.25rem 1.5rem;
                                li{
                                    & > a{
                                        color: $brand-secondary;
                                        background-color: transparent;
                                        border: 0;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        padding: 0px;

                                        &.dropdown-toggle {
                                            color: $menu-main-title;
                                        }
                                    }
                                    & > .dropdown-menu{
                                        padding: 0px;
                                    }
                                    .o_menu_header_lvl_1, .o_menu_header_lvl_2{
                                        color: $menu-main-title;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        font-size: $font-size-12;
                                        justify-content: end;
                                    }

                                    .o_menu_entry_lvl_2, a.o_menu_entry_lvl_3 {
                                        color: $menu-sub-title;
                                        font-size: 13px;
                                    }
                                    .o_menu_header_lvl_1{
                                        height: 25px;
                                    }
                                }
                            }
                            &.show{
                                & > ul{
                                    & > li{
                                        .dropdown-menu{
                                            position: static !important;
                                        }
                                    }
                                }
                            }
                        }
                        & > a{
                            height: 34px;
                            line-height: unset;
                            vertical-align: middle;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &.show {
                            & > .dropdown-menu.show {
                                padding: 0px 16px 0 25px;
                            }
                        }
                    }
                    li{
                        &.o_extra_menu_items {
                            .dropdown-menu{
                                .dropdown-menu {
                                    padding: 0.25rem 1.5rem !important;
                                    overflow: hidden;

                                }
                            }
                            & > ul {
                                & > li {
                                    padding: 0 10px;
                                    & > a {
                                        &:before, &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .dropdown-menu{
                            .dropdown-header {
                                padding: 2px 0px;
                                z-index: 1;
                                background-color: $white;
                                font-size: 13px;
                                font-weight: 600;
                            }
                            a {
                                padding: 2px 0px;
                            }
                            a:before {
                                content: "";
                                position: absolute;
                                display: block;
                                background-color: #dee2e6;
                                width: 1px;
                                height: 100%;
                                right: 100%;
                                top: -50%;
                                bottom: 50%;
                                margin-right: 12px;
                            }
                            a:after {
                                content: "";
                                position: absolute;
                                display: block;
                                background-color: $border-color;
                                width: 8px;
                                height: 1px;
                                right: 100%;
                                top: 50%;
                                bottom: auto;
                                margin-right: 5px;
                            }
                            & > .dropdown-header{
                                position: relative;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    background-color: $border-color;
                                    width: 1px;
                                    height: 50%;
                                    right: 100%;
                                    top: 0;
                                    margin-right: 12px;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    background-color: $border-color;
                                    width: 8px;
                                    height: 1px;
                                    right: 100%;
                                    top: 50%;
                                    bottom: auto;
                                    margin-right: 5px;
                                }
                                &:last-of-type{
                                    & > span{
                                        &:before{
                                            content: "";
                                            position: absolute;
                                            right: 100%;
                                            height: 10000%;
                                            margin-right: 12px;
                                            top: auto;
                                            bottom: 11px;
                                            background-color: $border;
                                            width: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a.o_menu_entry_lvl_3.dropdown-item {
                        margin-left: 16px;
                    }
                }

                .o_menu_brand {
                    margin-right: 0px;
                    padding: 0 5px;
                    line-height: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                }

                & > a {
                    height: 100%;
                    line-height: unset;
                }

                & > a, ul a {
                    &:hover {
                        background-color: transparent;
                    }
                }

                & > ul {
                    li.show {
                        & > a {
                            background-color: transparent;
                        }
                    }
                }

                .oe_menu_layout {
                    display: block;
                    float: right;
                    position: relative;
                    height: 100%;
                    margin: 0px;

                    & > ul {
                        display: flex;
                        margin: 0;
                        padding: 0;
                        height: 100%;
                        flex-flow: row;

                        & > li {
                            display: flex;
                            position: relative;
                            padding: 0 5px;
                            height: 100%;
                            justify-content: center;
                            align-items: center;

                            &.show {
                                & > a {
                                    background-color: transparent;
                                }
                            }

                            &.o_user_menu {
                                & > ul {
                                    .ad_user_details, .oe_back_btn {
                                        display: none;
                                    }

                                    li {
                                        padding: 3px 10px;

                                        & > a {
                                            color: $Label-value;
                                        }
                                    }
                                }
                            }

                            & > a {
                                color: $white;
                                padding: 5px;

                                & > .badge {
                                    background-color: $brand-secondary;
                                    color: $white;
                                }
                            }

                            & > .dropdown-menu.show {
                                &.o_mail_systray_dropdown {
                                    .o_mail_systray_dropdown_top {
                                        box-shadow: none;
                                        border-bottom: 1px solid $border;

                                        .o_filter_button {
                                            color: $icon;

                                            &.active {
                                                color: $brand-primary;
                                                @include border-animation();
                                            }

                                            &:focus {
                                                @include border-animation();
                                            }
                                        }
                                    }

                                    .o_mail_systray_dropdown_items {
                                        .o_mail_preview {
                                            padding: 10px 5px;
                                            background-color: $white;

                                            &:hover{
                                                background-color: $tr-hover;
                                                p , input {
                                                    background-color: transparent;
                                                }
                                            }

                                            .o_channel_info {
                                                .o_channel_title {
                                                    color: $heading;
                                                }

                                                .o_last_message_date {
                                                    color: $brand-primary;
                                                }

                                                .o_last_message_preview {
                                                    color: $Label-value;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.js_debug_dropdown {
                                    display: table;
                                    height: 100%;
                                }

                                .o_mail_navbar_dropdown_channels {
                                    max-height: 100%;
                                }
                            }
                        }
                    }
                }

                & > #av_full_view {
                    height: 100%;
                    width: 50px;
                    text-align: center;
                    display: inline-block;
                    padding: 10px;

                    & > .fa {
                        font-size: 20px;
                    }
                }
            }
            .main_navbar{
                &.oe_favorite_view {
                    position: absolute;
                    left: 0;
                    top: 35px;
                    bottom: 0;
                    width: 50px;
                    background-color: $brand-primary;
                    @include slide-animation();

                    .oe_menu_layout.oe_theme_menu_layout {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        float: none;

                        .o_quick_menu {
                            .o_gb_search {
                                list-style: none;
                                width: 100%;
                                padding: 10px;
                                text-align: center;

                                & > a {
                                    color: $white;
                                    font-size: 18px;
                                    display: block;
                                }
                                &:before {
                                    top: 35px !important;
                                }
                            }
                        }

                        .oe_favorite_menu {
                            .oe_apps_menu {
                                & > a {
                                    font-size: 10px;
                                }
                                &.oe_view_add{
                                    &:before{
                                        content: "";
                                        font: normal normal normal 14px/1 FontAwesome;
                                        font-size: inherit;
                                        text-rendering: auto;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        position: absolute;
                                        top: 0;
                                        display: flex;
                                        width: 100%;
                                        height: 100%;
                                        justify-content: center;
                                        align-items: center;
                                        border: 3px dotted $border;
                                        background-color: rgba(255,8,0,0.3);
                                        z-index: 22;
                                        font-size: 60px;
                                    }
                                }
                            }
                        }
                    }

                    ul#av_full_view, ul.oe_full_button {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 100%;
                        height: 39px;
                        width: auto;
                        padding: 0 8px;
                        margin: 0;
                        list-style: none;
                        color: $black;
                        margin-left: 2px;
                        margin-bottom: 0;
                        background-color: transparent;
                        .fa {
                            font-size: 16px;
                        }
                    }
                    ul#av_full_view {
                        top: 0;
                    }
                    ul.oe_full_button {
                        bottom: 0;
                    }
                }
            }
        }
        &.ad_full_view {
            .main_navbar.oe_favorite_view {
                left: -50px;
            }
            .o_main_navbar {
                left: 0px;
            }
        }
        .o_action_manager {
            margin-left: 50px;
        }
        &.nav-sm {
            & > header {
                & > .o_main_navbar {

                    .o_menu_sections, .o_menu_brand {
                        display: none;
                    }
                    #menu_toggle{
                        & > span{
                            &:before, &:after{
                                border-color: $menu-dark-color;
                            }
                        }
                    }
                }
            }
        }
    }
    &.o_fullscreen{
        & > header{
            & > .o_main_navbar{
                left: -50px;
                #av_full_view{
                    display: none;
                }
            }
        }
        .oe_favorite_view {
            display: none;
        }
        .o_action_manager{
            margin-left: 0px;
            .o_action {
                .o_content{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .oe_favorite_menu {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: auto;
        .oe_no_menu {
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
            height: 100%;
            & > span {
                color: $white;
                writing-mode: tb-rl;
                transform: rotate(180deg);
                display: flex;
                vertical-align: middle;
                align-items: center;
                justify-content: center;
            }
        }
        .oe_apps_menu {
            width: 100%;
            & > a.o_app {
                display: block;
                color: $white !important;
                width: 100%;
                padding: 0;
                margin-top: 4px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: transparent;
                font-size: 10px;
                border-bottom: 0;
                &:hover {
                    background-color: transparent;
                }
                img {
                    width: 30px;
                    height: 30px;
                    display: table;
                    margin: 0px auto;
                }

                & > span {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    margin: 3px 0;
                }

                &.ui-draggable-handle.ui-sortable-placeholder {
                    visibility: visible !important;
                    position: relative;
                    &:before {
                        content: "";
                        background-color: $white;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        display: flex;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        box-shadow: 0 0 6px 3px $white;
                        z-index: 1;
                    }

                    &:after {
                        content: "";
                        background-color: $white;
                        width: 19px;
                        height: 1px;
                        border-radius: 16px;
                        display: inline-block;
                        margin: auto;
                        vertical-align: middle;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        box-shadow: inset 0 0 12px 1px $white;
                        bottom: 0;
                    }
                }
            }
        }
        &.oe_dropable_view{
            position: relative;
            &:before{
                content: "\f067";
                @include fa-fa-font(30px);
                position: absolute;
                top: 0;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                border: 2px dotted $border;
                background-color: rgba(255,8,0,0.3);
                z-index: 22;
                color: $white;
            }
        }
    }
    // Navbar view - stop
    // Left-Right-Col View - Start
    .o_action_manager {
        @include slide-animation();
        margin-left: 50px;
        // Right-col -start
        .o_action {
            .o_control_panel {
                z-index: 1;
                background-color: $white;
                border-bottom: 1px solid $border;
                .breadcrumb {
                    background-color: $white;
                }
            }
            & > .o_content {
                margin-bottom: 40px;
                background-color: transparent;
                @include slide-animation();
            }
        }
        // Right-col -start
    }
    // Left-Right-Col View - stop
    // Main View - Menu open -start
    &.nav-sm, &.ad_open_childmenu {
        .o_main_navbar {
            margin-left: 0px;
            @include slide-animation();
            .nav_menu {
                #oe_main_menu_navbar {
                    .navbar-collapse {
                        #av_full_view {
                            display: none;
                        }
                    }
                }
            }
        }
        .o_action_manager {
            & > div.o_action {
                &:before {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: $bg-light;
                    content: "";
                    z-index: 11;
                }
            }
        }
    }
    &.nav-sm{
        header{
            .o_main_navbar{
                .oe_menu_layout{
                    #o_menu_apps{
                        .main_menu{
                            left: 0px;
                            @include slide-animation();
                        }
                    }
                }
            }
        }
    }
    &.ad_open_childmenu{
        header{
            .o_main_navbar{
                #o_menu_sections{
                    left: 50px;
                    @include slide-animation();
                }
            }
        }
        .o_action_manager{
            z-index: 1;
        }
    }
    &.ad-chat-window:not(.o_no_thread_window_window){
        header{
            .o_main_navbar{
                & > .oe_full_button{
                    bottom: 42px;
                }
            }
        }
    }
    // Main View - Menu open -stop
    // Full view - Menu close [start]
    &.ad_full_view {
        .o_main_navbar {
            left: -50px;
            transition: unset;
            @include slide-animation();
        }
        .o_action_manager {
            margin-left: 0;
            @include slide-animation();
            .o_view_controller.o_action {
                .o_control_panel {
                    .ad_bottom_controlpanel {
                        padding-left: 35px;
                        @include slide-animation();
                    }
                    & > .o_search_options {
                        left: auto;
                        right: 15px;
                    }
                }
                .o_content {
                    .o_form_view.oe_form_configuration.o_base_settings.o_form_nosheet {
                        .o_control_panel {
                            .o_form_statusbar {
                                left: 0px;
                                right: 0px;
                                @include slide-animation();
                            }
                        }
                    }
                }
            }
        }
    }
    // Full view - Menu close  [stop]
    // No Child menu -start
    &.ad_nochild {
        .o_main_navbar {
            .oe_menu_layout{
                #children_toggle {
                    display: none !important;
                }
            }
        }
    }
    // Login Message - start
    #mb-signout.message-box {
            display: block;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: $bg-light;
            z-index: 9999;
            &.open {
                display: block;
            }
            .mb-container {
                position: absolute;
                left: 0px;
                top: 30%;
                background: $brand-primary;
                padding: 40px 20px;
                width: 100%;
                .mb-middle {
                    width: 50%;
                    left: 25%;
                    position: relative;
                    color: $white;
                    .mb-title {
                        width: 100%;
                        float: left;
                        padding: 10px 0px 0px;
                        font-weight: $font-weight-4;
                        line-height: 36px;
                        .fa, .glyphicon {
                            float: left;
                            margin-right: 10px;
                        }
                        .fa.fa-sign-out:before {
                            font-size: $font-size-9;
                        }
                    }
                    .mb-content {
                        width: 100%;
                        float: left;
                        padding: 10px 0px 0px;
                        p {
                            margin-bottom: 0px;
                        }
                    }
                    .mb-footer {
                        width: 100%;
                        float: left;
                        padding: 10px 0px;
                        .oe_cu_logout_yes {
                            background: $brand-secondary;
                            color: $white;
                            border-color: $brand-secondary;
                            min-width: 60px;
                        }
                        .mb-control-close {
                            background: $white;
                            color: $brand-secondary;
                            border-color: $brand-secondary;
                            min-width: 60px;
                        }
                    }
                }
            }
        }

    // Login Message - stop
}
body.o_web_client.o_home_menu_background , body.o_web_client.o_home_menu_background.oe_base_menu{
    header{
        & > nav.o_main_navbar , nav.main_navbar.oe_favorite_view {
            background-color: transparent;
            ul#av_full_view, .oe_full_button {
                display: none;
            }
        }
    }
}
body.o_web_client.o_home_menu_background:not(.oe_base_menu) {
    header {
        & > nav.o_main_navbar , nav.main_navbar.oe_favorite_view {
            & > *:not(.o_menu_sections):not(#av_full_view):not(.oe_full_button){
                background-color: #000001;
            }
            .o_toggle_menu {
                li {
                    & > a.user_menu {
                        background-color: #000001;
                    }
                }
            }
        }
    }
}