.o_web_client{
	.o_action_manager{
		.o_view_controller.o_action {
			.o_content{
				.o_view_nocontent{
					.o_nocontent_help{
						.o_view_nocontent_smiling_face, .o_view_nocontent_empty_folder, .o_view_nocontent_neutral_face{
							&:before{
								content: "\f0f6";
								position: relative;
								display: block;
								font: normal normal normal 14px/1 FontAwesome;
								text-rendering: auto;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								font-size: $font-size-11;
								width: 100%;
								height: 100%;
								background: none;
								color: $text-muted;
								margin: auto;
								margin-bottom: 25px;
							}
						}
					}
				}
			}
		}
	}
}