// Style for the widget "dashboard_graph"
.o_dashboard_graph {
    &.o_graph_linechart {
        > svg {
            height: 75px;
            // X axis
            g.nv-x.nv-axis {
                transform: translateY(50px);
                // Remove max and min labels
                g.nv-axisMaxMin {
                    display: none;
                }
                g.tick.major {
                    line {
                        display: none;
                    }
                }
            }

            // !important are needed because nvd3 uses inline style on elements

            // Remove strokes
            g.nv-linesWrap {
                g.nv-group.nv-series-0 {
                    fill-opacity: 0.3 !important;
                    fill: $brand-primary !important;
                    stroke: $brand-primary !important;

                    .nv-point {
                        visibility: hidden;
                        stroke: $brand-primary !important;
                        fill: white;
                    }
                    .nv-point:nth-child(5n+1) {
                        visibility: visible;
                        fill-opacity: .95 !important;
                        stroke-opacity: .95 !important;
                    }
                }
            }
        }
    }
    &.o_graph_barchart {
        > svg {
            height: 75px;
            overflow: visible;
            g.nv-barsWrap {
                g.nv-group.nv-series-0 {
                    g.past {
                        opacity: 0.5;
                        fill: $brand-primary !important;
                    }
                    g.future {
                        opacity: 0.5;
                        fill: $brand-primary !important;
                    }
                }
            }
        }
    }
}

.o_web_client{
    &.open_customize_theme{
        .modal-backdrop.show{
            opacity: 0.7;
        }
        .o_technical_modal{
            margin: 0;
            left: auto;
            right: -500px;
            padding: 0;
            transition: right .3s ease-in-out;
            overflow: visible;
            .modal-dialog{
                padding: 0;
                max-width: 500px;
                width: 500px;
                .modal-content{
                    border: 0;
                    height: 100%;
                    .modal-header{
                        border: 0;
                        padding: 5px 18px;
                        .close{
                            display: none;
                        }
                    }
                    .modal-footer{
                        border: 0;
                        padding: 5px 18px;
                        & > button{
                            margin: 2px;
                            padding: 4px 8px;
                        }
                    }
                }
            }
            &.show{
                right: 0;
                width: auto;
                transition: right .3s ease-in-out;
            }
        }
    }
}
.modal-content {
    .o_cusomize_theme {
        padding: 5px;
        &  > div{
            &.row{
                margin: 0;
                .form-group.col-md-3{
                    padding: 0 5px;
                }
            }
        }
        .o_left_panel {
            height: 100%;
            ul.oe_theme_colorpicker {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding-left: 0;
                margin: auto;
                margin-bottom: 10px;
                height: 150px;
                overflow: auto;
                & > li {
                    position: relative;
                    list-style: none;
                    display: inline-block;
                    width: 16.8%;
                    height: 62px;
                    text-align: center;
                    margin: 5px;
                    &.selected {
                        .oe_theme_color:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: -5px;
                            width: 100%;
                            @include border-animation();
                        }
                    }
                    & > .oe_theme_color {
                        position: relative;
                        display: block;
                        height: 100%;
                        width: 100%;
                        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
                        border-radius: 3px;
                        .navbar-theme{
                            display: block;
                            width: 100%;
                            height: 62px;
                            position: relative;
                            border-radius: 3px;
                            .head{
                                position: absolute;
                                top: 0;
                                left: 19px;
                                right: 0;
                                background-color: $white;
                                height: 12px;
                                z-index: 1;
                                border-radius: 0px 3px 0 0;
                            }
                            .oe_left{
                                position: relative;
                                float: left;
                                width: 25%;
                                height: 100%;
                                border-radius: 3px 0px 0 3px;
                            }
                            .oe_right{
                                position: relative;
                                float: left;
                                width: 75%;
                                height: 100%;
                                border-radius: 0 3px 3px 0;
                            }
                        }
                        &:hover > .o_theme_option {
                            visibility: visible;
                            opacity: 1;
                        }
                        & > .o_theme_option {
                            visibility: hidden;
                            opacity: 0;
                            transition: visibility 0.3s linear, opacity 0.3s linear;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background-color: rgba(0, 0, 0, 0.7);
                            color: #fff;
                            font-size: 25px;
                            align-items: center;
                            justify-content: space-around;
                            display: flex;
                            flex-flow: column;
                            z-index: 9;
                            & > span {
                                height: 25px;
                                width: 25px;
                            }
                        }
                        &.o_add_theme {
                            border: 1px solid $border;
                            &:after {
                                content: "\f067";
                                font-family: FontAwesome;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                font-size: large;
                            }
                        }
                    }
                }
            }
        }
        .o_right_panel {
            & > .o_form_title {
                padding: 10px 15px 10px 0;
                text-transform: uppercase;
                color: $notbook;
                font-weight: bold;
                border-bottom: 1px solid $border;
            }
            input.form-control {
                border: 1px solid $border;
                border-radius: 0;
                border-top-style: none;
                border-right-style: none;
                border-left-style: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $Label-value;
                &:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    @include border-animation();
                }
            }
            .o_control_form{
                .row{
                    & > .container{
                        background-color: $tr-hover;
                        padding: 5px 0px;
                        min-height: 180px;
                        .nav.nav-tabs{
                            border-bottom: 2px solid $brand-secondary;
                            margin: 9px 15px;
                            .nav-item{
                                    width: 20%;
                                    margin-bottom: 5px;
                                    display: block;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                & > a{
                                    text-align: center;
                                    border: 0;
                                    &.active{
                                        background-color: $brand-secondary;
                                        color: $white;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }
                        .tab-content{
                            .tab-pane{
                                .form-group{
                                    margin-bottom: 3px;
                                    & > label{
                                        font-weight: 600;
                                        font-size: 16px;
                                    }
                                    .font_label, .font_label_tab, .menu_icon_label, .configration_tab {
                                        display: flex;
                                        flex-wrap: wrap;
                                        .o_radio_item{
                                            flex: 1 1 30%;
                                            margin-bottom: 10px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            height: 2rem;
                                            & > input{
                                                z-index: 11;
                                            }
                                            & > .o_switch{
                                                &.css_horizontal_menu{
                                                    & > .css_horizontal_menu{
                                                        display: block;
                                                    }
                                                    & > .css_vertical_menu{
                                                        display: none;
                                                    }
                                                }
                                                &:not(.css_horizontal_menu){
                                                    & > .css_horizontal_menu{
                                                        display: none;
                                                    }
                                                    & > .css_vertical_menu{
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .font_label{
                                        .o_radio_item{
                                            margin-right: 5px;
                                            input.o_radio_input{
                                                margin-top: 3px;
                                            }
                                            label.o_form_label {
                                                font-size: 16px;
                                                font-weight: 600;
                                                &:before {
                                                    top: 3px;
                                                }
                                                &:after {
                                                    margin-top: 3px;
                                                }
                                            }
                                            input[value="roboto"] + label{
                                                font-family: roboto;
                                            }
                                            input[value="open_sans"] + label{
                                                font-family: open_sans;
                                            }
                                            input[value="alice"] + label{
                                                font-family: alice;
                                            }
                                            input[value="abel"] + label{
                                                font-family: abel;
                                            }
                                            input[value="montserrat"] + label{
                                                font-family: montserrat;
                                            }
                                            input[value="lato"] + label{
                                                font-family: lato;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.color_panel .form-group{
                        .minicolors-theme-bootstrap{
                            .minicolors-panel{
                                left: auto;
                                right: 0;
                            }
                        }
                        &:first-child {
                            .minicolors-theme-bootstrap{
                                .minicolors-panel{
                                    right: auto;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        & + .uc_dashboard_image{
            position: absolute;
            right: 100%;
            left: calc(-100vw + 500px);
            margin: auto;
            justify-content: center;
            align-items: center;
            display: flex;
            overflow: auto;
            top: 0;
            bottom: 0;
            & > img{
                max-width: 100%;
                min-width: 25px;
                margin: auto;
                box-shadow: 2px 5px 7px 7px rgba(255, 255, 255, 0), 0 0 20px 13px rgba(255, 255, 255, 0.5);
            }
        }
        &.night_mode_on{
            .color_panel{
                display: none;
            }
        }
    }
}
