$brand-primary: #006347;
$brand-secondary: #8fa6d2;
$button-box: #116466;
$heading: #6f2232;
$Label: #0b3a49;
$Label-value: #6f2232;
$link: #116466;
$notbook: #6f2232;
$tooltip: #6f2232;
$border: #cedade;
$menu-main-title: #116466;
